# supported formats
# 0) <gfxip>: <event0> <event1> <block>[eventX-eventY]
#       generate the specified events for the gfxip. Example:
#           gfx9: GCEA_PERF_Cycles GCEA[2] SQ[26-28] TCP[1-]
# 1) : <event0> <event1> <block>[eventX-eventY]
#           or
#      <event0> <event1> <block>[eventX-eventY]
#       generate the events for the gfxip specified previously
# supported blocks:
#   CPC CPF GDS GRBM SPI SQ SX TA TCA TCC TCP TD GRBM_SE SDMA
#   GCEA ATC ATCL2 MCVML2

# ================= gfx8 ==================
gfx8:   GRBM_COUNT GRBM_GUI_ACTIVE
        SQ_WAVES SQ[26-28] SQ[30-35]
        SQ_WAIT_INST_LDS SQ_ACTIVE_INST_VALU SQ_INST_CYCLES_SALU SQ_THREAD_CYCLES_VALU SQ_LDS_BANK_CONFLICT
        TA_TA_BUSY TA_FLAT_READ_WAVEFRONTS TA_FLAT_WRITE_WAVEFRONTS
        TCC_HIT TCC_MISS TCC_MC_RDREQ TCC_MC_WRREQ TCC_MC_WRREQ_STALL
        TCP_TCP_TA_DATA_STALL_CYCLES

# =============== gfx9/vg10 ===============
gfx9:   GRBM_COUNT GRBM_GUI_ACTIVE
        SQ_WAVES SQ[26-28] SQ[30-35]
        SQ_WAIT_INST_LDS SQ_ACTIVE_INST_VALU SQ_INST_CYCLES_SALU SQ_THREAD_CYCLES_VALU SQ_LDS_BANK_CONFLICT
        TA_TA_BUSY TA_FLAT_READ_WAVEFRONTS TA_FLAT_WRITE_WAVEFRONTS
        TCC_HIT TCC_MISS
        TCC_EA_WRREQ TCC_EA_WRREQ_64B TCC_EA_WRREQ_STALL TCC_EA_RDREQ TCC_EA_RDREQ_32B
        TCP_TCP_TA_DATA_STALL_CYCLES

# ============= gfx906/vg20 ===============
gfx906: GRBM_COUNT GRBM_GUI_ACTIVE
        SQ_WAVES SQ[26-28] SQ[30-35]
        SQ_WAIT_INST_LDS SQ_ACTIVE_INST_VALU SQ_INST_CYCLES_SALU SQ_THREAD_CYCLES_VALU SQ_LDS_BANK_CONFLICT
        TA_TA_BUSY TA_FLAT_READ_WAVEFRONTS TA_FLAT_WRITE_WAVEFRONTS
        TCC_HIT TCC_MISS
        TCC_EA_WRREQ TCC_EA_WRREQ_64B TCC_EA_WRREQ_STALL TCC_EA_RDREQ TCC_EA_RDREQ_32B
        #   additional EA1 counters in vg20
        TCC_EA1_WRREQ TCC_EA1_WRREQ_64B TCC_EA1_WRREQ_STALL TCC_EA1_RDREQ TCC_EA1_RDREQ_32B
        TCP_TCP_TA_DATA_STALL_CYCLES

# ============= gfx908/mi100 ==============
gfx908: GRBM_COUNT GRBM_GUI_ACTIVE
        #   SQ event ids are shifted in gfx908, compared to gfx9
        SQ_WAVES SQ[26] SQ[28-29] SQ[31-36]
        SQ_WAIT_INST_LDS SQ_ACTIVE_INST_VALU SQ_INST_CYCLES_SALU SQ_THREAD_CYCLES_VALU SQ_LDS_BANK_CONFLICT
        TA_TA_BUSY TA_FLAT_READ_WAVEFRONTS TA_FLAT_WRITE_WAVEFRONTS
        TCC_HIT TCC_MISS
        TCC_EA_WRREQ TCC_EA_WRREQ_64B TCC_EA_WRREQ_STALL TCC_EA_RDREQ TCC_EA_RDREQ_32B
        TCP_TCP_TA_DATA_STALL_CYCLES
